p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.infobox {
  padding: 1em 1em 1em 4em;
  background: aliceblue 5px center/3em no-repeat;
  color: black;
}
.task {
  padding: 1em 1em 1em 4em;
  color: black;
  background: cornsilk 5px center/3em no-repeat;
}

.ask {
  padding: 1em 1em 1em 4em;
  color: black;
  background: #d8e7dd 5px center/3em no-repeat;
}
.question {
  background-image: url("https://static.thenounproject.com/png/1156194-200.png");
}
.info {
  background-image: url("https://cdn-icons-png.flaticon.com/128/545/545674.png");
}
.code{
  background-image: url("https://cdn-icons-png.flaticon.com/128/984/984196.png");
}
.spoiler {
  visibility: hidden;
}

.spoiler::before {
  visibility: visible;
  content: "🔍 Наведите курсив, чтобы увидеть ответ"
}

.spoiler:hover {
  visibility: visible;
}

.spoiler:hover::before {
  display: none;
}