p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.infobox {
  padding: 1em;
  background: #ededed;
  color: black;
}

.spoiler {
  visibility: hidden;
}

.spoiler::before {
  visibility: visible;
  content: "🔍 Наведите курсив, чтобы увидеть ответ"
}

.spoiler:hover {
  visibility: visible;
}

.spoiler:hover::before {
  display: none;
}